body {
   background-color: grey;
}
.everything {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10%;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: auto;
}

@media only screen and (max-width: 786px) {
    .everything {
        display: grid;
        grid-template-columns: repeat(1, 1fr);        
        margin-left: 0%;
        justify-items: center;
    }
    .button-grid {
        width: 30px;
        height: 30px; 
    }
  }

.note{
    background-color: rgba(255, 255, 0, 0.562);
    width: 200px;
    height: 200px;
    font-size: 40px;
    font: italic 28px;
    text-align: center;  
}



button, .imposter, .buttonGreen{
    background-color: rgb(98, 98, 100);
    border-radius: 20%;
    border: none;
    display: block;
    display: inline-block;
    /*https://www.codegrepper.com/code-examples/css/fit+text+in+button+css*/
    overflow: hidden;
    word-wrap:break-word;
    color: rgb(0, 0, 0);
    font: italic 28px "Fira Sans", serif;
    text-align: center;
}

button:hover {
    transform: scale(1.1);
    transition: 0.2s;   
    cursor: pointer;
}

.button-grid {

    display: grid;
    /*https://css-tricks.com/equal-width-columns-in-css-grid-are-kinda-weird/*/
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: 
    auto auto auto;
    width: 300px;
    height: 300px; 
    gap: 2%;
    padding:15px;
    background-color: black;
    border-radius: 10%;
    
}

a {
    color: black;
}

.imposter:hover {
    transform: scale(1.1);
    transition: 0.2s;
}
.buttonGreen {
    visibility: hidden;
    background-color: rgb(141, 235, 169);
    height: 100%;
    width: 100%;
}

#resetButton {
    background: rgb(255, 70, 70);
}

